mixin delete()
    a.delete-link(title="Delete" onclick="javascript: return confirm('Confirmer cette action')")&attributes(attributes) &times;

mixin textarea(name, rows=10)
    textarea.with-tools(name=name, rows=rows)&attributes(attributes)
        block
    .textarea-tools 
        strong **bold**&nbsp;&nbsp;
        i __italic__&nbsp;&nbsp;
        div
            b [
            span text
            b >
            span link
            b ]
        div 
            b [img>
            span fileName (
            b >
            span size(nano|
            u mini
            span |home|banner|original)
            b >
            span visionneuse(
            u 0
            span |1)
            b >
            span align(
            u left
            span |right|center) )
            b ]

mixin to_admin(link)
    if current_user && current_user.admin
        a(href=link style="position:absolute;right:0;color:red;font-size:1.5rem" title="Edit") &ofcir;