mixin delete()
    a.delete-link(title="Delete" onclick="javascript: return confirm('Confirmer cette action')")&attributes(attributes) &times;

mixin textarea(name, rows=10)
    textarea.with-tools(name=name, rows=rows)&attributes(attributes) 
        block
    .textarea-tools 
        b **bold**&nbsp;&nbsp;
        i __italic__&nbsp;&nbsp;
        span [text>link]