extends ../layout/_layout

block content
    .grid-container
        .grid-x
            .cell
                h1=t("user.login.page-title")
                if error
                    div Error
                form(method="POST")
                    label=t("user.email")
                        input(type="text" name="email" autofocus)
                    label=t("user.password")
                        input(type="password", name="password")
                    input.button(type="submit", value=t("form.submit"))