h1 Games
a(href="/admin/games/new") New

table
    for game in games
        tr
            td
                a(href=`/admin/games/${game.id}`)=game.name
            td
                a(href=`/admin/games/${game.id}/delete`) x