extends ../../layout/_admin

block content
    .grid-container.full
        .grid-x
            .cell.medium-6
                h1 Games
            .cell.medium-6
                .admin-right-btn
                    a.button.success(href="/admin/games/new") New game


    table.hover
        for game in games
            tr
                td
                    a(href=`/admin/games/${game.id}`)=game.name
                td.text-right
                    +delete(href=`/admin/games/${game.id}/delete`)  