extends /layout/_layout

block content
    .page-title
        h1 Bazaar
        .sub.show-for-medium Welcome into my brain

    .grid-container.full
        .grid-x
            for item in items
                .cell.medium-4.small-6
                    .bazaar-link-item
                        a(href=`/bazaar/${item.url}`)=t(item, "link")
            