extends /layout/_layout

block content

    h1=t(item, "title")

    !=format(t(item, "description"))

    .grid-container.full
        .grid-x.grid-margin-x
            for child in children
                .cell.medium-4.small-6
                    .home-item
                        a(href=path+"/"+child.url)
                            //if child.pic
                            //    img(src=getImg(child.pic, "home"), alt="")
                            .title=t(child, "link")
                            //.sub=child.title