extends /layout/_layout

block content

    h1=t(item, "title")
    
    p
        for tag in item.tags.split(",")
            a.tag(href=`/work/tag/${tag}`)=tag

    p!=format(t(item, "description"))