#breadcrumb.grid-container
    .grid-x
        .cell
            ul
                for item in bc
                    li
                        if item[1]
                            a(href=`${item[1]}`)=item[0]
                        else
                            span=item[0]