footer
    .grid-container
        .grid-x
            .cell
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="work") Work
                    li
                        a(href="/travels/all") Travels
                    li
                        a(href="/bazaar") Bazaar