footer
    .grid-container
        .grid-x
            .cell
                ul
                    li
                        a(href="/")=t("footer.top-menu.home")
                    li
                        a(href="work")=t("footer.top-menu.work")
                    li
                        a(href="/travels/all")=t("footer.top-menu.travels")
                    li
                        a(href="/bazaar")=t("footer.top-menu.bazaar")