header
    include _site_title

    .main-menu
        .grid-container
            .cell
                nav.main
                    ul
                        li(class=menu=='home'?'active':'')
                            a(href="/") Home
                        li(class=menu=='work'?'active':'')
                            a(href="/work") Work
                        li(class=menu=='travel'?'active':'')
                            a(href="/travels") Travels
                        li(class=menu=='bazaar'?'active':'')
                            a(href="/bazaar") Bazaar

    include _user_menu

                                    