header
    if !current_user
        a(href="/users/signup") Signup
        span &nbsp;/&nbsp;

        a(href="/users/login") Login

    if current_user
        span=current_user.login
        span &nbsp;/&nbsp;
        a(href="/users/logout") Logout

    if current_user && current_user.admin
        span &nbsp;/&nbsp;
        a(href="/admin") Admin