.header-title
    .header-title-content
        .grid-container
            .grid-x
                .cell.medium-8.site-title
                    h1 Julien Breiner
                    div Eclectic Web Developer
                .cell.medium-4#citation
                    .hide-for-small-only
                        if citation.source
                            div#citation-content.has-tip(data-tooltip title=citation.source  data-position="bottom" data-alignment="center")!=citation.content 
                        else
                            div#citation-content!=citation.content 