.header-title
    .header-title-content
        .grid-container
            .grid-x
                .cell.medium-8.site-title
                    h1 Julien Breiner
                    div Eclectic Web Developer
                .cell.medium-4#citation
                    .hide-for-small-only
                        div#citation-content!=citation.content 
                        //We all gonna die some day.<br/>Let's make sure it's not on the same day.