@import "_settings";
@import "foundation";

@include foundation-global-styles;
@include foundation-xy-grid-classes;
////@include foundation-grid;
////@include foundation-flex-grid;
//@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
//@include foundation-accordion;
//@include foundation-accordion-menu;
@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
@include foundation-callout;
//@include foundation-card;
//@include foundation-close-button;
//@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
@include foundation-dropdown-menu;
//@include foundation-responsive-embed;
@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
//@include foundation-slider;
@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
@include foundation-tooltip;
//@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

$home-color: #8d8d8d;
//$home-color: #005845;
$travel-color: #818f7f;//#618C6D;
//$travel-color: #00f7ff;
$bazaar-color: #877f8f;
$work-color: #877f8f;
$box-shadow-color:rgba(#000, .2);
$box-shadow: 5px 5px 10px $box-shadow-color;
$text-shadow: 1px 1px 0 #333;

body {
    //margin: 0;
    //background-color: $home-color;
    background-color: #EEE;

    &.modal-open {
        //position: fixed;
        overflow: hidden;
    }

    background-image: url("/img/bg1.gif");
    background-repeat: repeat;
}

h1 {
    font-family: Cabin;
    font-weight: bold;
}



h1#site-title {
  
    padding-top: 1.5rem;
    line-height: 1;

    font-size: 3.5rem;

    @media #{$small-only} {
        font-size: 2.5rem;
    }

    a {
        font-family: "Passion One";
        color:$pink;
        text-shadow: 1px 1px 0 #000;
        transition: color 300ms;

        &:hover {
            color:#FFF;
        }
    }

}

#site-subtitle{
    color:rgba(#CE4199, .5);
}

header {

    #header-title {
        background-color: #fff;
    }
    .header-title-content {
        //background-color: rgba($home-color, .1);
        //background-color: rgba(#776824, .3);
        background-color: #FFF;//#8D913B;
    }

    .main-menu {
        box-shadow: 0 5px 10px $box-shadow-color;

        //background-color: $home-color;//rgba(102, 83, 47, 0.719);
        background-color: $yellow;//#F7C901;
        background: linear-gradient(to bottom, #E1B702 0%, $yellow 22%, $yellow 100%);//,#CAA60A 100%);
        //border-bottom: 4px solid rgba(#FFF, .7);
        border-bottom: 5px solid #FFF;
        //border-top: 1px solid #CCC;
        //border-bottom: 1px solid #000;
        padding: 0;
        margin: 0;
    }

    &.admin .main-menu {
        background-color: rgb(194, 0, 0);
    }

    $main-menu-link: #000;

    nav.main {
        color: #FFF;
        color:$main-menu-link;
        font-weight: bold;
        //padding: 1rem;
        

        li {

            a {
                display: block;
                line-height: 3rem;
                color:#FFF;
                color:$main-menu-link;
                text-decoration: none;
                &:visited {
                    color: #FFF;
                    color:$main-menu-link;
                }
            }

            &.active {
                a {
                    color: #C4037C;
                }
            }

            a:hover{
                color:#CE4199;
            }

        }
    }

    nav.main, nav.user {
        ul, li {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        ul {
            li {
                display: inline-block;
                margin-right: 1rem;
            }
        }
    }

    nav.user {
        position: absolute;
        top: 0;
        right: 0;

        a {
            color: #CCC;// $body-font-color;
            text-decoration: none;

            &:hover{
                color: $black;
                //text-decoration: underline;
            }
        }

        ul{
            li{
                margin-right: .5rem;
            }
        }
    }
}

a.tag {
    margin-right: 0.5rem;
    background-color: #666;
    color:$white !important;
    padding: 3px;
    border: 1px solid #666;
    font-size: .8rem;

    transition: background-color 300ms, color 300ms;

    &:hover {
        background-color: transparent;
        border: 1px solid #666;
        color: $body-font-color !important;
    }
}

.lang-icon {
    filter: grayscale(100%);
    transition: filter 1s;

    &.current, &:hover {
        filter: grayscale(0);
    }
}

#citation {
    position: relative;

    #citation-content {
        font-family: "Dancing Script";
        //font-style: italic;
        font-size: 1rem;
        color: #666;
        text-align: center;
        position: absolute;
        bottom: 1rem;
        right: 0;
    }
}

.justify {
    text-align: justify;
}

textarea.with-tools {
    margin-bottom: .25rem;
}

.textarea-tools {
    text-align: right;
    font-size: .8rem;
    color:#666;
    margin-bottom: 1rem;

    b {
        color: #000;
    }
}

.article-banner {
    margin-bottom: 1rem;
}

.img-in-text-align-left {
    float: left;
    padding-right: .5rem;
}
.img-in-text-align-right {
    float: right;
    padding-left: .5rem;
}
.img-in-text-align-center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.error {
    color:$alert-color;
}

.admin-link {
    font-weight: bold;
    //font-size: 1.5rem;
    //line-height: 1rem;
}

.off {
    color: #999;
    font-style: italic;
    font-size: .8rem;
    line-height: 1rem;
}

.delete-link {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1rem;
    color: $alert-color;

    &.disabled {
        color: lighten($alert-color, 40%)
    }
}

.site-title {
    h1 {
        margin:0;
        padding-top: 1rem;
        font-weight: bold;
    }

    div{
        color: #999;
        padding-bottom: 1rem;
    }
}

.bazaar-link-item {
    padding-bottom: 1rem;

    a{
        display: block;

        &:hover {
            color: $black;
        }
    }
}

.work-items {
    padding-bottom: 1rem;
}
.work-item {
    a {
        color:$body-font-color;

        img {
            box-shadow: 0 0 10px #999;
            transition: box-shadow 300ms;
        }

        &:hover {
            img {
                box-shadow: 0 0 15px #333;
            }
        }
    }

}

.user-menu {

    #user-link {
        font-weight: bold;
    }
    
}

.visionneuse-reveal {
    cursor: pointer;
}

#visionneuse {
    display: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.45);

    #visionneuse-content {
        //display: none;
        position: relative;
        top:50px;
        border: 5px solid #FFF;
        margin: 0 auto;
        box-shadow: 0 0 30px #000;
        border-radius: 5px;
    }

    button {
        color: #FFF;
        text-shadow: 0px 0px 2px #000;
        font-size: 2rem;
        font-weight: bold;
        position: absolute;

        transition: color 500ms, text-shadow 300ms, transform 300ms;
        

        cursor: pointer;

        &:hover {
            //color: #000;
            text-shadow: 0px 0px 5px #FFF;
        }
    }

    #visionneuse-next {
        right: 0px;
        padding: 40px 20px;
        padding-right: 10px;
    }

    #visionneuse-prev {
        left: 0px;
        padding: 40px 20px;
        padding-left: 10px;
    }

    #visionneuse-close {
        padding: 10px;
        top: 0;
        right: 10px;
        transform-origin: 50% 57%;
        &:hover{
            transform: rotate(180deg);
        }
    }
}

.hidden {
    display: none;
}

.content {
    //background-color: #fff;
}

footer {

    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $yellow;// $home-color;
    color:$black;
    border-top: 5px solid #FFF;//rgba(#FFF, .7);

    box-shadow: 0 -5px 10px $box-shadow-color;

    color: $pink;

    ul {
        border-left: 3px solid $pink;//rgba($body-font-color, .25);
        list-style-type: none;
        padding: 0;
        padding-left: 5px;
        margin: 0;

        transition: border-left-color 300ms;

        /*&:hover {
            border-left-color: $body-font-color;
        }*/

        li {
            padding: 0;
            margin: 0;
        }
    }
    a {
        color: $pink !important;
        font-weight: bold;

        &:hover{
            color: $black !important;
        }
    }
}

/*.travel {
    background-color: $travel-color;
    header {
        .header-title-content {
            background-color: rgba($travel-color, .3);
        }
        .main-menu {
            background-color: $travel-color;
        }
    }
    .content-content {
        background-color: rgba($travel-color, .1);
    }
    footer {
        background-color: $travel-color;
    }
}

.bazaar {
    background-color: $bazaar-color;
    header {
        .header-title-content {
            background-color: rgba($bazaar-color, .3);
        }
        .main-menu {
            background-color: $bazaar-color;
        }
    }
    .content-content {
        background-color: rgba($bazaar-color, .1);
    }
    footer {
        background-color: $bazaar-color;
    }
}*/

.home-item {
    display: inline-block;
    margin-bottom: 1rem;
    
    a {
        display: inline-block;
        padding: 5px;
        //border-radius: 8px;
        
        transition: background-color 500ms, box-shadow 500ms;
        box-shadow: 0px 0px 3px #999;
        
        &:hover {
            box-shadow: 0px 0px 8px #999;
            background-color: #fff;
        }
    }
    .title {
        color: $black;
        font-weight: bold;
        font-size: 1.5rem;
        padding-top: 0.5rem;
    }

    .sub {
        color: #999;
    }
}

.pics {
    margin-bottom: 1rem;
}

.admin-right-btn {
    padding-top: 1rem;
    float: right !important;
}

.dropdown.menu {
    list-style-type: none;
    display: inline-block;
    ul{
        list-style-type: none;
    }
    a {
        display: block;
    }
}

#page, .page {
    background-color: #f6f6f6;
    background-color: #FFF;
    border:1px solid #CCC;
    box-shadow: $box-shadow;
    margin-bottom: 1rem;
    margin-top: 2rem;
    
    @media #{$medium-up} {
        border-radius: 8px;
    }

    h1, h2 {
        font-family: "Passion One";
        color: #FFF;
        text-shadow: $text-shadow;
        margin-top: -2rem;
        font-size: 2.5rem;
        
        @media #{$large-up} {
            margin-left: -1.5rem;
            //margin-left: 0;
        }
        
        @media #{$medium-up} {
            font-size: 3rem;
        }
    }

    h2{
        font-size: 2.5rem;
        margin-top: -2rem;
        margin-left: 0;
        
        @media #{$medium-up} {
            margin-top: -1rem;
            font-size: 1.8rem;
            margin-left: -1.5rem;
        }
    }

    .page-title {
        display: block;
        h1 {
            display: inline-block;
        }
        .sub{
            padding-left: .5rem;
            font-variant: small-caps;
            font-size: 1.4rem;
            color: #999;
            display: inline-block;
        }
    }
}

.page-y {
    @media #{$medium-up} {
        margin-top: 0;
    }
}


#cv-home-box {
    a {
        
        background: linear-gradient(to bottom, transparent 0%, transparent 78%, $box-shadow-color 100%);//, transparent 22%, transparent 100%);
        background-color: $yellow;//#666;

        border: 1px solid $yellow;

        border-radius: 8px;
        color:$white;

        text-shadow: $text-shadow;
        box-shadow: $box-shadow;

        font-size: 1.8rem;
        display: block;
        text-align: center;
        //font-weight: bold;
        padding: 1rem;
        
        font-family: "Passion One";
        font-size: 1.8rem;

        margin-bottom: 0 7px;

        transition: background-color 300ms, border-color 300ms;

        &:hover, &:visited {
            background-color: $pink;//#F6F6F6;
            border-color: $pink;
        }

        &:active{
            background-color: $white;
            border-color: $white;
        }
    }
}

#breadcrumb {

    &+ #page {
        margin-top: 1rem;
    }
    margin-bottom: 5px;

    //background-color: #f6f6f6;
    //border:1px solid #CCC;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            font-weight: bold;
            font-size: 0.9rem;
            &::after {
                content: "\00a0>\00a0"
            }

            &:last-child{
                &::after{
                    content: "";
                }
            }

            a {
                color:rgb(194, 0, 0);

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.travel a, .travel #breadcrumb a {
    color:$travel-color;
}

.bazaar a, .bazaar #breadcrumb a {
    color:$bazaar-color;
}

.work a, .work #breadcrumb a {
    color: $work-color;
}
