extends /layout/_layout

block content
    +to_admin("/admin/travels")
    .page-title
        h1 Travels
        .sub.show-for-medium My wanderings around the globe

    .grid-container.full
        .grid-x.grid-margin-x
            for travel in travels
                .cell.medium-4.small-6
                    .home-item
                        a(href=`/travels/${travel.url}`)
                            if travel.pic
                                img(src=getImg(travel.pic, "home"), alt="")
                            .title=travel.name
                            .sub=travel.title